.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/Doodling.jpg');
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 110px;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

p {
    font-family: 'indie Flower', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    transition: 0.3s;
}

p:hover {
    color: yellow;
    transform: scale(1.1);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tvImage {
    width: 450px;
    transition: transform 0.3s;
}

.tvImage:hover {
    transform: scale(1.1); 
}

.tabletImage {
    margin-top: 90px;
    width: 375px;
    height: 350px;
    transition: transform 0.3s;

}

.tabletImage:hover {
    transform: scale(1.1); 
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
