
div.setting-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6em;
  margin: 0px 0px;
}

.codeBox,
.nameBox {
  font-family: "Kalan", cursive;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  height: fit-content;
  transition: 0.3s;
}

.slider,
.codeBox {
  width: 40%;
}

.nameBox:hover,
.codeBox:hover {
  transform: scale(1.1);
}

.slider .MuiSlider-markLabel {
  font-family: "Kalan", cursive;
  font-size: medium;
  text-shadow: none;

}

/* ////////////////////////////////////////////////////////////// */


.teamHeading {
  font-size: 4vh;
  margin-top: 0.2em;
  margin-bottom: 10px;
  text-align: center;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.team-titles {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  margin: 0px;
}

.redfont {
  color: red;
}
.bluefont {
  color: blue;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.grid-container p{
  margin: 0;
  font-size: 1.5em;
}

.red-column, .blue-column {
  padding: 10px;
}

.red-column h3, .blue-column h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  font-size: 1.5em;
}

.redBtn {
  background-color: red;
}

.blueBtn {
  background-color: blue;
}

.redBtn:hover {
  background-color: white;
  color: red;
}

.blueBtn:hover {
  background-color: white;
  color: blue;
}

.plusBtn {
  display: flex;
  width: 50px;
  justify-content: center;
  border-radius: 20px;
  height: 50px;
  align-items: center;
  font-size: 50px;
  color: white;
  font-family: "Indie Flower", cursive;
  transition: all 0.3s;
}

.plusBtn:hover {
  transform: scale(1.1);
}


.startBtn {
  font-family: "Indie Flower", cursive;
  font-size: 1.6em;
  border-radius: 20px;
  width: 120px;
  display: block;
  margin: auto;
  transition: all 0.3s;
}

.startBtn:hover {
  background-color: yellow;
  transform: scale(1.1);
}



@media screen and (max-width: 900px) {
  }
