
div.setting-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6em;
  height: 2.5em;
  margin: 0px 0px;
}

.codeBox,
.nameBox {
  font-family: "Kalam", cursive;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  height: fit-content;
  transition: 0.3s;
}

.slider,
.codeBox {
  width: 40%;
}

.nameBox:hover,
.codeBox:hover {
  transform: scale(1.1);
}

.slider .MuiSlider-markLabel {
  font-family: "Kalam", cursive;
  font-size: medium;
  text-shadow: none;

}

/* ////////////////////////////////////////////////////////////// */


.teamHeading {
  font-size: 4vh;
  margin-top: 0.2em;
  margin-bottom: 10px;
  text-align: center;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.team-titles {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  margin: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.grid-container p{
  margin: 0;
  font-size: 1.5em;
}

.red-column, .blue-column {
  padding: 10px;
}

.red-column h3, .blue-column h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  font-size: 1.5em;
}

.plusBtn {
  display: flex;
  width: 50px;
  justify-content: center;
  border-radius: 20px;
  height: 50px;
  align-items: center;
  font-size: 50px;
  color: white;
  font-family: "Indie Flower", cursive;
  transition: all 0.3s;
}

.plusBtn:hover {
  background-color: white;
  transform: scale(1.1);
}

.plusBtn.red-bg:hover {
  color: red;
}

.plusBtn.blue-bg:hover {
  color: blue;
}



.startBtn {
  font-family: "Indie Flower", cursive;
  font-size: 1.6em;
  border-radius: 20px;
  width: 120px;
  display: block;
  margin: auto;
  transition: all 0.3s;
}

.startBtn:hover {
  background-color: yellow;
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .setting-row label {
    font-size: 0.8em;
  }

  .slider,
  .codeBox {
    width: 30%;
  }

  .nameBox {
    width: 58%;
  }
}
