.results {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.results .topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1#winner {
    font-size: 8vh;
    margin: 0.3em;
}

.results .details {
    display: flex;
    justify-content: space-around;
    font-size: 4vh;
}

.results .details h2 {
    margin: 0;
}

.results .picturesContainer {
    display: flex;
    justify-content: space-evenly;
    max-height: 70vh;
}

.results img {
    max-width: 100%;
}


.picturesContainer .right-arrow {
    position: absolute;
    top: 50%;
    right: 5vw;
    font-size: 4rem;
    z-index: 10;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(28, 121, 33);
    border-radius: 100%;
}

.picturesContainer .left-arrow {
    position: absolute;
    top: 50%;
    left: 5vw;
    font-size: 4rem;
    z-index: 10;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(28, 121, 33);
    border-radius: 100%;
}


@media screen and (max-width: 700px) {

    h1#winner {
        font-size: 3vh;
    }
  
    .results .details {
        font-size: 2vh;
    }
  
  }