.scores-container {
    display: flex;
    justify-content: end;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
  
  .team-names {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; /* Adjust spacing between team names */
  }
  
  h3 {
    color: red;
    font-size: 24px;
    margin: 0;
  }

  h4 {
    color: blue;
    font-size: 24px;
    margin: 0;
  }
  
  .scores {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .score-border {
    width: 2px;
    height: 30px; /* Adjust height as needed */
    background-color: black;
    margin: 0 10px; /* Add space between scores */
  }
  
  .score {
    font-size: 24px;
    padding: 10px; /* Adjust padding as needed */
  }
  
  .red-score {
    color: red;
  }
  
  .blue-score {
    color: blue;
  }
  