.timer-container {
    display: flex;
    justify-content: end;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }