.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  margin: auto;
}

span#code {
  font-family: "Courier New";
  font-size: 40px;
  /* font-weight: bold; */
}

.tv canvas {
  border-radius: 1em;
  display: block;
  margin: auto;
  overflow: hidden;
  background-color: #eee;
}


.tv #player,
.tv #pause {
  font-size: 2em;
}

@media screen and (max-width: 900px) {

}