.tv-setup .instruction {
    padding-top: 30px;
    text-align: center;
}


.tv-setup .room {
    text-align: center;
    font-size: 3em;
    font-family: "Kalam", cursive;
}


@media screen and (max-width: 600px) {

    .tv-setup .instruction {
        font-size: 4vh;
    }


}