.tv-setup .instruction {
    /* padding-top: 30px; */
    text-align: center;
}


.tv-setup .room {
    text-align: center;
    font-size: 3em;
    font-family: "Kalam", cursive;
}

.tv-setup .grid-container p {
    display: block;
}


@media screen and (max-width: 600px) {

    .tv-setup .instruction {
        font-size: 1.5em;
    }


}